*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.nav{
    background-color: cadetblue;
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5em;
}

.btn{
    background-color: blue;
    color: ghostwhite;
    padding: 5px;
}

.wrapper{
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}

.leftC{
    margin-top: 1em;
    flex: 2;
}

.lSide{
    padding: 1em;
    width: 40%;
}

.definition{
    outline: solid black 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.definitionTwo{
    outline: solid black 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
}

.def{
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: small;
    width: 100%;
    margin: .5em;
}

#ital{
    font-style: italic;
}

.textarea{
    padding: 1em;
}

.rightC{
    margin-left: 1em;
    flex: 1;
    outline: solid black 2px;
    padding: .5em;
   }

.add{
    padding: .5em;
    align-self: baseline;
    height: 5em;
}

.greenBtn{
    outline: solid black 2px;
    box-shadow: 0px;
    padding: .5em;
    background-color: green;
    width: 100%;
    margin-top: .6em;
}

.likes{
    background-color: gold;
    outline: black 2px solid;
    color: black;
    box-shadow: 2px;
    margin-top: .5em;
}
