*{
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', cursive;
}

.nav{
    background-color: black;
    color: ghostwhite;
    position: fixed;
    width: 60%;
    margin-left: 20%;
    height: 2em;
    padding: 1em;
}

.content{
    width:60%;
    margin-left: 20%;
}

.theFeed{
    padding: 1em;
    text-align: center;
    width: 100%;
    font-weight: 800;

}

.main{
    display: flex;
    align-items:initial;
    justify-content:space-between;
}

.lCol{
    align-items:inherit;
    flex: 1;
    padding-left: 1em;
    margin-top: 1em;
}

.rCol{
    align-items: baseline;
    flex: 3;
}

#feed{
    font-weight: 800;
    margin-top: 2em;
    width: 100%;
}
.box{
    border: solid Black 2px;
    font-weight: 600;
    padding: 1em;
    margin: 1em;

}
.upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lower{
    align-items: center;
}

#likeBtn{
    background-color: peachpuff;
    border: solid Black 2px;
}

.pic{
    height: 100px;
    width: 100px;
}
#user{
    padding: 1em;
    border: solid black 2px;
}