*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    }

.wrapper{
    margin-left: 2em;
    margin-top: 2em;
    width: 50%;
    display: block;
}
#search{
    padding-left: 3px;
    padding-right: 3px;    
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 35%;    
    border-color: grey;
    background-color: grey;
    color: ghostwhite;
    margin: 1em;
}

#plus{
    padding: 3px;
    border-radius: 50%;
    background-color: green;
    border-color: green;
    color: green;
    height: 2em;
    width: 2em;
    height: 2em;
    margin: 1em;
}

#account{
    padding: 5px 1em;
    background-color: blue;
    border: solid black 2px;
    color: ghostwhite;
    height: 2em;
    margin: 1em;
}