*{
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', cursive;
}

.pageWrapper{
    margin: 1em;
}
.top{
    background-color: black;
    color: ghostwhite;
    margin-top: 1em;
    text-align: left;
}
.center{
    background-color: blue;
    color: ghostwhite;
    margin-top: .5em;
    text-align: center;
    font-style: italic;
}
.bottom{
    background-color: skyblue;
    color: ghostwhite;
    margin-top: .5em;
    text-align: right;
}
.contact{
    color: black;
    font-weight: bold;
    color: black;

}
