* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.pageWrapper {
  background-color: red;
  min-height: 500px;
  width: 600px;
  background-color: powderblue;
  padding: 1em;
}

.title {
  font-size:xx-large;
  width: 580px;
  text-align: center;
  padding: 1em;
  font-weight: 500;
  color: black;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: skyblue;
  padding: 1em;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: slategray;
  padding: 1em;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: snow;
  padding: 1em;
}

.pic {
  height: 150px;
  width: 150px;
}

.foot {
  text-align: center;
  justify-content: space-evenly;
  padding: 1em;
}

.content {
  overflow: hidden;
  height: 160px;
  width: 160px;
}
