*{
    margin: 0;
    padding: 0;
}

.nav{
    width: 100%;
    position: fixed;
}

.topRow{
    background-color: brown;
    width: 70%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:saddlebrown;
    padding: .5em 0;
}

.rightNav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.justdessert{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#just{
    color:ghostwhite;
    margin-left: 1em;
}

#dessert{
    color:chocolate
}

#join{
    background-color: chocolate;
    padding:3px 6px ;
}

#login{
    background-color: blue;
    margin-left: .5em;
    padding: 3px 6px;
    margin-right: 2em;
}


.leftNav{
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchclicker{
    background-color: blue;
    color: ghostwhite;
    padding: 2px;
    margin-left: -2px;
}
.search{
    border: 2px solid black;
    border-radius: 50%;

}

.rightNav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 1em;
    width: 70%
}

.bottomRow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: burlywood;
    width: 70%;
    margin-left: 15%;
    padding: 1em 0;

} 

.holder{
    overflow: hidden;
    display: block;
    text-align: center;
    width: 20%;
}

.pic{
    height: 65px;
    background-color: ghostwhite;
    border-radius: 50%;
}
.pageWrapper{
    width: 70%;
    margin-left: 15%;
    min-height: 500px;
    padding-right: 5.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12em;
}
.leftContent{
    flex: 4;
    flex-direction: column;
    background-color: darkturquoise;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#recipe{
    color: blue;
    font-weight: bold;
    text-align: center;
}

#bigPic{
    width: 90%;
    margin-left: 1em;

}

.bottomContent{
    padding: 1em;
}
.toprow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right{
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

.smallHeart{
    height: 1em;
    width: 1em;
    padding-right: 3px;
}
    
#fullRecipe{
    text-align: center;
}

.rightContent{
    flex: 2;
    margin-left: 1em;
}

#reccommend{
    border-bottom: 2px solid Black;
    width: 100%
    
}

.medPic{
    width:100%;
    overflow: hidden;
}